<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CALCULADORA</h1>
    <form th:action = "@{calculo}" method="post">
        <label for="num1">Primeiro número:</label>
        <input type="numper" id="num1" name="num1">


        <select id="opcoes" name="opcoes">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
            <option value="x">x</option>
        </select>


        <label for="num2">Segundo número:</label>
        <input type="number" id="num2" name="num2">

        <button type="submit">Calcular</button>
    </form>
    <div th:if = "${res !=null}">
        <h2>Resultado: <span th:text="${res}"></span> </h2>
    </div>
</body>
</html>